body {
    font-family: 'Consolas', 'Courier New', monospace;
}

/* texto */
.text-onPrimary { color: var(--q-onPrimary) !important; }
.text-onBackground { color: var(--q-onBackground) !important; }

/* fundo */
.bg-onPrimary { background: var(--q-onPrimary) !important; }
.bg-onBackground { background: var(--q-onBackground) !important; }

/* borda */
.bg-border { background: var(--q-border) !important; }

/* botão pressionado */
.bg-btnPressed { background: var(--q-btnPressed) !important; }
